<!--Hearder Begins-->
<md-toolbar layout="row" layout-align="center center" ng-controller="NavbarCtrl">

  <md-button class="md-raised" href="#/">SUM4NTH</md-button>


  <section flex layout="row" layout-sm="column" layout-align="left center">
    <md-button href="/" class="md-flat">Home</md-button>
    <md-button href="/blog" class="md-flat">Blog</md-button>
    <md-button href="/work" class="md-flat">Work</md-button>
    <md-button href="/contact" class="md-flat">Contact</md-button>
  </section>

  <!-- <md-button href="#/">Current date: {{ date | date:'yyyy-MM-dd' }}</md-button> -->

</md-toolbar>

<!--Hearder Ends-->
