<md-toolbar layout="row" layout-align="center center">

<!--<md-side-nav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('sm')">
  <h4 class="md-2-line">Lets see it</h4>
  <md-buttonlass="raised" ng-click="close();">Close</md-button>
</md-side-nav>-->
  <section flex layout="row" layout-sm="row" layout-align="end end" layout-align-sm="center center">
    <md-button href="/">SUM4NTH</md-button>
    <md-button href="/work">Work</md-button>
    <md-button href="/blog">Blog</md-button>
    <md-button href="/contact">Contact</md-button>
  </section>

</md-toolbar>
