<div class="contact-page" layout="vertical" layout-fill>
  <md-content flex>
    <header>
      <acme-navbar creationDate="contact.creationDate"/>
    </header>
    <div layout="row" layout-align="center center">
      <h1 class="md-display-3">"Not 2x..? You are not growing at all."</h1>
    </div>

    <div layout="row" layout-align="center center">
      <div flex="20"></div>
      <md-content flex="50" class="autoScroll">
        <h3>Wanna connect..?</h3>
        <md-input-container class="md-icon-float" >
          <!-- Use floating label instead of placeholder -->
          <label>Name</label>
          <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
          <input ng-model="contact.user.name" type="text" ng-required="true">
        </md-input-container>
        <md-input-container class="md-icon-float">
          <!-- Use floating placeholder instead of label -->
          <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
          <input ng-model="contact.user.email" type="text" placeholder="Email" ng-required="true">
        </md-input-container>
        <md-input-container>
          <md-icon md-svg-src="img/icons/ic_place_24px.svg" style="display:inline-block;"></md-icon>
          <input ng-model="contact.user.message" type="text" placeholder="Message" ng-required="true">
        </md-input-container>
        <section layout="row" layout-align="center center">
          <md-button flex="60" class="md-raised md-primary" ng-click="contact.sendMessage(contact.user)">Primary</md-button>
        </section>
      </md-content>
      <div flex="30">
      <md-whiteframe class="md-whiteframe-z5" layout layout-align="center center">
        <md-content layout="column" layout-align="center center">
          Hangout @
          <md-card ng-repeat="card in contact.cards">
            <a ng-href="{{card.link}}" target="_blank"><i class="fa fa-{{card.name}} fa-3x"></i></a>
          </md-card>
          <md-card><a href="https://www.quora.com/sumanth-pagidipalli" target="_blank"><i class="fa fa-fw fa-3x"><strong>Q</strong></i></a></md-card>
        </md-content>
      </md-whiteframe>
      </div>
    </div>

  </md-content>

</div>
