<div layout="row" layout-fill>

  <md-content flex>
    <header ng-include="'app/components/navbar/navbar.html'"></header>

    <section class="jumbotron">
      <h1>'Allo, 'Allo!</h1>
      <p class="lead">
        <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
        Always a pleasure scaffolding your apps.
      </p>
      <p><a class="btn" ng-href="#">Splendid!</a></p>
    </section>

    <div layout="row" layout-align="center">
      <div flex="20">
        [flex offset="20"]
      </div>
      <div flex="60">
        <md-whiteframe class="md-whiteframe-z5" layout layout-align="center center">
          <md-content layout-padding>
            <form name="testForm">
              <div layout layout-sm="column">
                <md-input-container flex>
                  <label>Name</label>
                  <input ng-model="user.name">
                </md-input-container>
                <md-input-container flex>
                  <label>Email</label>
                  <input ng-model="user.email">
                </md-input-container>
              </div>
              <md-input-container flex>
                <label>Message</label>
                <textarea ng-model="user.message" columns="1" md-maxlength="140"></textarea>
              </md-input-container>
              <div layout="row" layout-align="center center">
                <md-button class="md-raised md-primary">Send</md-button>
              </div>
            </form>
          </md-content>
        </md-whiteframe>
      </div>
      <div flex="20">
        <md-content layout="row" layout-align="center center">
          <section>
            <md-subheader class="md-primary">Unread Messages</md-subheader>
            <i class="material-icons md-48">face</i>
            <md-list layout-padding>
              <md-list-item class="md-2-line" ng-repeat="card in SocialCards">
                <img ng-src="assets/images/{{card.logo}}" class="md-avatar face">
                <div class="md-list-item-text">
                  <h3>{{card.title}}</h3>
                  <h4>{{card.title}}</h4>
                </div>
              </md-list-item>
            </md-list>
          </section>
          </md-content>

        <md-content>
          <md-card ng-repeat="card in SocialCards" layout="row" layout-align="right right">
            <img ng-src="assets/images/{{card.logo}}" class="md-avatar face">
            <a ng-href="{{card.url}}" target="_blank">{{card.title}}</a>
          </md-card>
        </md-content>

      </div>
    </div>

    <footer>
      <md-toolbar layout="row" layout-align="center center">
        <p>With ♥ from <a href="https://twitter.com/Swiip">@Swiip</a></p>
      </md-toolbar>
    </footer>
  </md-content>

</div>
