<div layout="vertical" layout-fill>
  <md-content>
    <header>
      <acme-navbar creationDate="main.creationDate" />
    </header>

    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, minus, nulla! Aut inventore molestias non quisquam rerum? Aspernatur debitis dolorem itaque, iusto, maxime minima molestiae mollitia quidem reiciendis veritatis vero!</span><span>Dolorem expedita iusto laudantium non odit officiis quasi quibusdam sed sequi! Dolore eos ex, illo in iste nesciunt, nobis nostrum officiis praesentium, quaerat ratione recusandae sapiente sunt tempore voluptates. Repellendus.</span><span>At dicta enim est incidunt maxime optio quod rem reprehenderit soluta voluptatum. Alias atque deleniti doloribus id obcaecati possimus, qui quos tenetur voluptatibus? Aliquam, et nihil quis reiciendis tempore voluptate!</span><span>Error expedita iste, obcaecati optio quam repellendus totam? Accusantium eveniet harum illum inventore ipsam nobis, praesentium quae quaerat reprehenderit sint? Accusamus blanditiis enim numquam perferendis tenetur. Adipisci assumenda quae quibusdam.</span>
  </p><p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, minus, nulla! Aut inventore molestias non quisquam rerum? Aspernatur debitis dolorem itaque, iusto, maxime minima molestiae mollitia quidem reiciendis veritatis vero!</span><span>Dolorem expedita iusto laudantium non odit officiis quasi quibusdam sed sequi! Dolore eos ex, illo in iste nesciunt, nobis nostrum officiis praesentium, quaerat ratione recusandae sapiente sunt tempore voluptates. Repellendus.</span><span>At dicta enim est incidunt maxime optio quod rem reprehenderit soluta voluptatum. Alias atque deleniti doloribus id obcaecati possimus, qui quos tenetur voluptatibus? Aliquam, et nihil quis reiciendis tempore voluptate!</span><span>Error expedita iste, obcaecati optio quam repellendus totam? Accusantium eveniet harum illum inventore ipsam nobis, praesentium quae quaerat reprehenderit sint? Accusamus blanditiis enim numquam perferendis tenetur. Adipisci assumenda quae quibusdam.</span>
  </p><p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, minus, nulla! Aut inventore molestias non quisquam rerum? Aspernatur debitis dolorem itaque, iusto, maxime minima molestiae mollitia quidem reiciendis veritatis vero!</span><span>Dolorem expedita iusto laudantium non odit officiis quasi quibusdam sed sequi! Dolore eos ex, illo in iste nesciunt, nobis nostrum officiis praesentium, quaerat ratione recusandae sapiente sunt tempore voluptates. Repellendus.</span><span>At dicta enim est incidunt maxime optio quod rem reprehenderit soluta voluptatum. Alias atque deleniti doloribus id obcaecati possimus, qui quos tenetur voluptatibus? Aliquam, et nihil quis reiciendis tempore voluptate!</span><span>Error expedita iste, obcaecati optio quam repellendus totam? Accusantium eveniet harum illum inventore ipsam nobis, praesentium quae quaerat reprehenderit sint? Accusamus blanditiis enim numquam perferendis tenetur. Adipisci assumenda quae quibusdam.</span>
  </p>

    <!--<section class="jumbotron">
      <h1>'Allo, 'Allo!</h1>
      <p class="lead">
        <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
        Always a pleasure scaffolding your apps.
      </p>
      <md-button class="md-raised animated infinite" ng-class="main.classAnimation" ng-click="main.showToastr()">Splendid Toastr</md-button>
      <p>
        With ♥ thanks to the contributions of<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']" />
      </p>
    </section>

    <div class="techs" layout-align="center">
      <md-card ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
        <div class="thumbnail">
          <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
          <div class="caption">
            <h3>{{ awesomeThing.title }}</h3>
            <p>{{ awesomeThing.description }}</p>
            <p><a ng-href="{{ awesomeThing.url }}">{{ awesomeThing.url }}</a></p>
          </div>
        </div>
      </md-card>
    </div>
  </md-content>
-->
</div>
