@import url(http://fonts.googleapis.com/css?family=Roboto+slab:400,700|Roboto:400,700,700italic,400italic);

html {
  font-family: 'Roboto', serif;
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

md-toolbar.md-default-theme {
  background-color: black;
}

section.jumbotron {
  margin-bottom: 30px;
  padding: 1px 30px;
  background-color: #5aadbb;
  text-align: center;
  color: white;
}

section.jumbotron h1 {
  font-size: 3em;
}

.techs {
  display: flex;
  flex-flow: row wrap;
}

.techs md-card {
  min-width: 30%;
}

.techs md-card img.pull-right {
  float: right;
  min-width: 50px;
}

/*Ng-view animations */

.page {  bottom:0; position:absolute; top:0;  width:100%;  }

.main-page      { background:#00D0BC; color:#00907c; }
.blog-page     { background:#E59400; color:#a55400; }
.work-page   { background:#ffa6bb; color:#9e0000; }

.ng-enter {  z-index: 8888;  }
.ng-leave {  z-index: 9999;  }

.main-page.ng-enter           { animation: scaleUp 0.5s both ease-in; }
.main-page.ng-leave           { transform-origin: 0% 0%; animation: rotateFall 1s both ease-in;}

.blog-page.ng-enter           { animation: slideInRight 0.5s both ease-in; }
.blog-page.ng-leave           { animation: slideOutLeft 0.5s both ease-in; }

.work-page.ng-enter           { transform-origin: 50% 50%; animation: rotateOutNewspaper .5s both ease-in;  }
.work-page.ng-leave           { animation:slideOutLeft 0.5s both ease-in; }

.contact-page.ng-enter         { animation: flipInLeft 0.5s both ease-in; }
.contact-page.ng-leave         { animation: flipOutRight 0.5s both ease-in; }


/* rotate and fall */
@keyframes rotateFall {
  0%      { transform: rotateZ(0deg); }
  20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
  40%     { transform: rotateZ(17deg); }
  60%     { transform: rotateZ(16deg); }
  100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
  to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
  to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
  from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
  from    { transform:translateX(100%); }
  to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
  from    { transform:translateY(100%); }
  to      { transform: translateY(0); }
}

@-webkit-keyframes flipOutRight {
  from { }
  to { -webkit-transform: translateZ(-1000px) rotateY(90deg); opacity: 0.2; }
}
@keyframes flipOutRight {
  from { }
  to { -webkit-transform: translateZ(-1000px) rotateY(90deg); transform: translateZ(-1000px) rotateY(90deg); opacity: 0.2; }
}

@-webkit-keyframes flipInLeft {
  from { -webkit-transform: translateZ(-1000px) rotateY(-90deg); opacity: 0.2; }
}
@keyframes flipInLeft {
  from { -webkit-transform: translateZ(-1000px) rotateY(-90deg); transform: translateZ(-1000px) rotateY(-90deg); opacity: 0.2; }
}

.face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px;
}
